
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/var/cache/
/public/images/
/public/favicon.ico
/public/favicon.gif
.idea/workspace.xml
.composer.phar
###> symfony/framework-bundle ###
###< symfony/framework-bundle ###

.env
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea
