
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/bundles/**
/public/bundles/
/public/css/
/public/js/
/public/images/
/public/favicon.ico
/public/favicon.gif
/public/favicon.ico
.idea/workspace.xml

###> symfony/framework-bundle ###
###< symfony/framework-bundle ###

.env
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea
