<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(/images/bg/bg7.jpg);">
    <div class="breadcrumb-outer pt-10 pb-5">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-0">{{ page_name }}</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->