<!-- partners starts -->
<div class="partners bordernone pt-5 pb-5">
    <div class="container">
        <div class="dest-partner">
            <div class="row attract-slider">
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_5.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_2.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_3.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_4.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_5.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_2.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_3.png" alt="partners">
                </div>
                <div class="col-md-2">
                    <img src="images/flights/flight_grid_4.png" alt="partners">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partners ends -->
<!-- footer starts -->
<footer class="pt-10" style="background-image:url(images/testimonial.png);">
    <div class="footer-upper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-about">
                        <img src="{{ asset('images/Logo-10-Final-Blanc.png') }}" alt="" width="200px">
                        <p class="mt-3 mb-3">
                            Un Travel Planner vous conseille sur les meilleurs moments pour planifier votre séjour par ce qu’il est au courant de toutes les tendances.
                        </p>
                        <div class="social-links">
                            <ul>
                                <li><a href="https://www.facebook.com/Tamoonatravel/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/tamoona_the_travelplanner/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/tamoona-the-travel-planner/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links text-center">
                        <ul class="list">
                            <li>
                                <a href="{{ path('my_travel_agencey') }}">My Travel Agency</a>
                            </li>
                            <li>
                                <a href="#">Travel Booking</a>
                            </li>
                            <li>
                                <a href="#">Flight Booking</a>
                            </li>
                            <li>
                                <a href="#">Car Booking</a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}">Blog</a>
                            </li>
                            <li>
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-listing-main d-lg-flex align-items-center justify-content-between mt-4 text-center">
                        <div class="footer-listing white">
                            <i class="fa fa-map-marked white mb-1"></i>
                            2, place de l’indépendance<br> Immeuble SDIH 3e étage<br>
                            Dakar, Senegal
                        </div>
                        <div class="footer-listing">
                            <i class="fa fa-fax white mb-1"></i>
                            <p class="white mb-0"> Tel : +221 33 889 29 99</p>
                            <p class="white mb-0"> Tel : +221 33 864 00 10</p>
                            <p class="white mb-0"> Phone : +221 77 944 26 26</p>
                        </div>
                        <div class="footer-listing">
                            <i class="fa fa-headphones white mb-1"></i>
                            <p class="white mb-0">reservations@tamoonatravel.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-2 pb-2">
        <div class="container">
            <div class="copyright-inner">
                <div class="copyright-text text-center">
                    <p class="m-0 white">2020 <a href="https://noisydigital.com">Noisy Digital</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</footer>
<!-- footer ends -->

<!-- Back to top start -->
<div id="back-to-top">
    <a href="#"></a>
</div>
<!-- Back to top ends -->

<!-- search popup -->
<div id="search1">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>