<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(/images/pages/Background.jpg); background-position: center";>

<div class="breadcrumb-outer pt-10 pb-5">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h3 class="mb-0" style="font-size: 30px!important; color: white">{{ page_name }}</h3>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"  ><a style=" color: white!important;" href="{{ path('home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_name }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends background-color: #6F512F;-->