{% extends 'backend/base_admin_data.html.twig' %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Utilisateurs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Danshbord</a></li>
                            <li class="breadcrumb-item active">Utilisateurs</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Listes des utilisateurs su sites</h3>
                            </div>
                            {%  if users is defined %}
                            <!-- /.card-header -->

                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Nom</th>
                                        <th>Prenoms</th>
                                        <th>Role</th>
                                        <th class="bg-dark">Action </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.role.libelle }}</td>
                                        <td>
                                            <a  class="btn btn-sm btn-info" href="#">Modifier</a>
                                            <a  class="btn btn-sm btn-info" href="#">Supprimer</a>
                                            <a  class="btn btn-sm btn-info" href="#">Fuck</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Email</th>
                                        <th>Nom</th>
                                        <th>Prenoms</th>
                                        <th>Role</th>
                                        <th class="bg-dark">Action </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <!-- /.card-body -->
                            {% endif %}
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}